.curriculum {
	background-color: #fff;
}

.curriculum__avatar-img {
	border-radius: 50%;
}

.curriculum__details {
	word-wrap: break-word;
}

.curriculum__details-icon {
	vertical-align: top;
	fill: #94a0d5;
}

.curriculum__name {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

.curriculum__skills {
	width: 100%;
}

.curriculum__job-position {
	text-transform: uppercase;
	font-weight: 700;
	color: #505050;
}

.curriculum__printable-link {
	display: none;
}

.bgd-primary {
	background-color: #94a0d5 !important;
	background-color: #7fd1ff !important; 
}

.heading-secondary {
	font-family: 'Oswald', sans-serif;
   text-transform: uppercase;
   font-weight: 500;
}

.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
	.text-sm-left { text-align: left; }
	.text-sm-right { text-align: right; }
	.text-sm-center { text-align: center; }
	.text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
	.text-md-left { text-align: left; }
	.text-md-right { text-align: right; }
	.text-md-center { text-align: center; }
	.text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
	.text-lg-left { text-align: left; }
	.text-lg-right { text-align: right; }
	.text-lg-center { text-align: center; }
	.text-lg-justify { text-align: justify; }
}

.color-primary {
	color: #94a0d5;
	color: #7fd1ff;
}

@media print {
	.curriculum {
		box-shadow: none !important;
		margin: 0 !important;
	}

	.badge {
		border: none !important;
	}
	
	.curriculum__printable-link {
		display: block;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
	}
}

.footer {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

hr {
	border-top-width: 2px;
}