body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  background-color: #eae5eb;
  border-radius: 3px;
}

@media print {
	body {
		background-color: #ffffff;
	}

	/*body::after {
		content: "cv-martin-marmol.firebaseapp.com";
		display: block;
		text-align: center;
		font-family: 'Oswald', sans-serif;
		text-transform: uppercase;
		font-weight: 400;
	}*/
}

/*
	font-family: 'Roboto', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Ubuntu Mono', monospace;
*/